<article class="p-4 container gap-3 row m-auto" style="display: flex">
  <h1 style="display: flex" class="m-0 p-0">Book Review</h1>
  <div class="gap-3 p-0 m-auto bg-warning row">
    <div
      style="width: 100px; height: 100px; background: #08b"
      class="col-2 p-0 m-0"
    ></div>
    <span class="col m-auto m-0 p-0">
      <h2 style="display: flex" class="">things</h2>
      <div style="width: 100px; height: 30px; background: #08b"></div
    ></span>
    <div
      style="width: 100px; height: 100px; background: #08b"
      class="col-2 p-0 m-0"
    ></div>
  </div>
  <div class="gap-3 p-0 m-auto">
    <div style="width: 100px; height: 100px; background: #08b"></div>
  </div>
  <div class="gap-3 p-0 m-auto">
    <div style="width: 100px; height: 100px; background: #08b"></div>
  </div>
</article>
