<article class="p-4 container gap-3 row m-auto" style="display: flex">
  <h1 style="display: flex" class="p-0 m-auto">Reading Now</h1>
  <div class="row gap-3 p-0 m-auto">
    <div class="col rounded bg-primary">
      <p>Spare</p>
      <p>by Prince Harry</p>
      <div class="row">
        <p class="col">Read</p>
        <p class="col">%</p>
      </div>
    </div>
    <div class="col rounded bg-secondary">
      <p>Matilda</p>
      <p>by Rupi Kaur</p>
      <div class="row">
        <p class="col">Read</p>
        <p class="col">%</p>
      </div>
    </div>
  </div>
  <div class="row gap-3 p-0 m-auto">
    <div class="col rounded bg-primary">
      <p>Spare</p>
      <p>by Prince Harry</p>
      <div class="row">
        <p class="col">Read</p>
        <p class="col">%</p>
      </div>
    </div>
    <div class="col rounded bg-primary">
      <p>Matilda</p>
      <p>by Rupi Kaur</p>
      <div class="row">
        <p class="col">Read</p>
        <p class="col">%</p>
      </div>
    </div>
  </div>
</article>
