<div class="bg-warning-subtle p-5">
  <article class="row gap-3" style="display: flex">
    <div class="col rounded">
      <app-user></app-user>
    </div>
    <div class="row gap-3 m-auto">
      <section class="col bg-white rounded-4">
        <app-bookshelf></app-bookshelf>
      </section>
      <section class="col bg-white rounded-4">
        <app-reading-now></app-reading-now>
      </section>
    </div>
    <div class="row gap-3 m-auto mb-3">
      <section class="col bg-white rounded-3">
        <app-purchase></app-purchase>
      </section>
      <section class="col bg-white rounded-3">
        <app-books-review></app-books-review>
      </section>
    </div>
  </article>
</div>
